@use 'variaveis';

.cabecalho {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corSecundaria;
    align-items: center;
    z-index: 1;

    .hamburguer {
        display: none;
        width: 40px;

        img {
            max-width: 100%;
        }
    }

    img {
        max-width: 94px;
        margin-left: 20px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 80px;

        &__item {
            padding: 10px;
            list-style: none;
            cursor: pointer;

            &__link {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                padding: 7px;
                border-radius: 5px;
            }
        }
    }
    
    &__procurar {
        display: flex;
        vertical-align: center;
        margin-right: 20px;

        input {
            width: 287px;
            height: 40px;
            padding: 10px;
            background-color: #F5F5F5;
            border: none;
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-radius: 5px 0 0 5px;
        }

        &__button {
            height: 40px;
            background-color: #fff;
            border: none;
            border-right: 1px solid black;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-radius: 0 5px 5px 0;
            padding: 0 10px;
            
            img {
                width: 100%;
                margin: 0 auto;
            }
        }

        &__button_mobile {
            display: none;
            background-color: transparent;
            border: none;
            height: 40px;

            img {
                height: 100%;
            }
        }
    }
    
    @media (max-width: 768px){
        padding: 10px 0;

        .hamburguer {
            display: block;
        }

        &__nav {
            display: none;
        }

        &__procurar {
            input {
                display: none;
            }
            &__button {
                display: none;
            }
            &__button_mobile {
                display: block;
            }
        }
        
    }
}

.active {
    background-color: black;
    color: #fff;
}