.descobrir {

    &__cartoes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5%;
        text-align: center;

        @media (max-width:768px) {
            grid-template-columns: 1fr;
        }

        &__cartao {

            &__corpo {
                padding: 30px;

                p {
                    margin-top: 20px;
                    margin-bottom: 40px;
                    line-height: 20.8px;
                }

                a {
                    color: #000;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}