.filmes_e_curtas {
    &__cartoes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
        &__cartao {
            max-width: 300px;
            margin-right: 24px;
            
        }
    }

    .container-imagem {
        margin: 0;
        margin-bottom: 10px;
        border-radius: 4px;
    }
}