* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.titulo {
    font-size: 1.87em;
    text-align: center;
    padding: 30px;
}

.subtitulo {
    font-size: 1.25em;
}

.texto {
    font-size: 1em;
    color: #000;
}

.texto-branco {
    font-size: 16px;
    color: #fff;
}