.personagens {

    &__slider {
        
        position: relative;
        // display: flex;
        // align-items: center;
        padding: 20px 10px;
        max-width: 640px;

        &__pagina {
            display: flex;

            &__lista {
                display: flex;
                flex-shrink: 0;
                // flex-flow: row nowrap;
                height: 100%;
                width: 100%;
                text-align: center;
            }
        }       

        .container-imagem {
            position: relative;
            overflow: hidden;
            max-width: 210px;
            border-radius: 100%;
            cursor: pointer;
            margin: 10px;

            img {
                max-width: 100%;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                transform: scale(1.05);
            }

            :hover {
                transform: scale(1.1);
            }
    }       

        
    }

    &__informacao {
        display: grid;
        grid-template-columns: 38% 62%;
        align-items: center;
        max-width: 924px;
        margin: 0 auto;
        padding-top: 32px;

        img {
            border-radius: 100%;
        }

        &__detalhes {
            max-width: 510px;
            width: 100%;

            p {
                margin-top: 20px;
            }
        }
    }
}


.gallery {
    display: flex;
    flex-flow: row nowrap;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 35%;
    left: 0;
    right: auto;
    background-color: #fff;
    font-size: 40px;
    border-radius: 100%;
    padding: 30px;
}
