.personagens {

    &__slider {
        position: relative;
        max-width: 100%;
        padding: 20px 10px;
        margin: 0 auto;

        &__pagina {
            display: flex;
            overflow-x: hidden;
            transition: all 0.5s;

            &__lista {
                flex-shrink: 0;
                display: none;
                // flex-flow: row nowrap;
                height: 100%;
                width: 100%;
                text-align: center;
            }
        }  
        .arrow-left,
        .arrow-right {
            display: inline-flex;
            background-color: #FFF;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            align-content: center;
            justify-content: center;
            font-size: 33px;
            font-weight: bold;
            cursor: pointer;
            z-index: 2;
            transition: opacity 333ms;
            position: absolute;
            top: 33%;
            left: -15px;
            right: auto;

            span {
                margin: auto 0;
            }
        
            &:hover {
                opacity: 0.6;
            }
        }

        .arrow-right {
            left: auto;
            right: -15px;
        }

        .desligado {
            visibility: hidden;
        }
    }

    &__informacao {

        &__item {
            display: none;
            grid-template-columns: 38% 60%;
            gap: 2%;
            align-items: center;
            max-width: 924px;
            margin: 0 auto;
            padding-top: 32px;
    
            img {
                border-radius: 100%;
                max-width: 320px;
                width: 100%;
            }
        }
    
        &__detalhes {
            max-width: 510px;
            width: 100%;

            p {
                margin-top: 20px;
                line-height: 20.8px;
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}

.atual {
    display: flex;
}

.ativo {
    display: grid;
}